
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200&display=swap');


:root {
	--primary: #0091ff;
	--dark: #061b28;
	--gray: #756388;
	--light: #ffffff;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}



:root{
 
    transition: all 400ms ease;
  }
 
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none; 
}
body{
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
}

#auth {
  min-height: 100vh;
  padding-top: 100px;
  background: url(./images/auth.jpg) rgb(108, 117, 125);
  padding-bottom: 2rem;
}
.row {
  --bs-gutter-x:  1.5rem;
  --bs-gutter-y:  0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
  flex: 1 0 100%;
}
*, ::before, ::after {
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 0.7rem;
}

div {
  display: block;
}